body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #4cb7a5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  width: 100%;
  height: 90px;
}

#logo {
  width: 120px;
  margin-top: 5px;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}

.nav-btn {
  background-color: #f3f7f9;
  border-radius: 25px;
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: #bff3f7;
}

.nav-btn:visited {
  color: #2e2e2e;
}

.hamburger {
  font-size: 24px;
  display: none;
  cursor: pointer;
}

.hamburger {
  display: block;
}

main {
  background-color: #f3f7f9;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  flex: 1;
}

.kort-seksjon {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 35px auto;
  padding-bottom: 20px;
  flex-wrap: wrap;
  max-width: 1000px;
}

.kort {
  background-color: #f3f7f9;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

.kort img {
  width: 120px;
  height: auto;
  margin: 10px 0;
}

.kort h2 {
  margin: 10px 0;
  font-family: "Times New Roman", Times, serif;
}

.kort p {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 15px;
}

.seksjon-tittel {
  background-color: #73df56;
  color: #2e2e2e;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.seksjon-tittel h1 {
  font-size: 28px;
  margin: 0;
}

.pris {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffd166;
  color: black;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.pris:hover {
  background-color: #f3a756;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #f7a9a8;
  text-align: center;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-link {
  color: #2e2e2e;
}
